﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.allPadding {
     padding-left: 10px;
     padding-right: 10px;
 }

.right {
    text-align: right;
}

.errorMessage {
    color: red;
    font-weight: bold;
}

.successMessage {
    color: #006400;
    font-weight: bold;
}

.div-right {
    /*background-color: red;*/
    float: right;
    width: auto;
}

.div-left {
    /*background-color: yellow;*/
    overflow: hidden;
}

.center {
    text-align: center;
}
